.navigationbar-container {
  position: sticky;
  z-index: 5;
  top: 0;
  color: var(--text-color);
  background-color: var(--background-color);
  transition: var(--default-transition);
  box-shadow: 12px 12px 12px 2px var(--background-color);
  .navbar {
    .navbar-header {
      .navbar-icon {
        width: 3rem;
      }
    }
    .navigation-buttons {
      gap: 1rem;
      .theme-container {
        cursor: pointer;
      }
      .avatar-circular {
        height: 2rem;
        width: 2rem;
        font-size: 1rem;
      }
      .dropdown {
        display: inline-block;
        position: relative;
        .dropdown-content {
          display: none;
          position: absolute;
          left: -2rem;
          width: 6rem;
          overflow: auto;
          box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
          color: var(--black);
          div {
            padding: 10px;
            left: -2rem;
            background-color: var(--white);
            background-color: var(--body-background-color);
            cursor: pointer;
            color: var(--text-color);
          }
          div:hover {
            background-color: var(--bg-grey);
            color: var(--primary-color);
          }
        }
      }
      .dropdown:hover {
        .dropdown-content {
          display: block;
          z-index: 5;
        }
      }
    }
  }
}
